/* start global rules */
*{
    box-sizing: border-box;
}
:root{
    --main-color: #ac15f8;
    --main-transition: 0.3s;
    --padding-top: 100px;
    --padding-bottom: 100px;
}
html{
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-title{
    position: absolute;
    top: 0;
    padding: 21px 30px;
    font-size: 30px;
    color: brown;
    font-style: italic;
    left: 50%;
    transform: translateX(-50%);
}
.main-title::before{
    content: "";
    width: 20%;
    height: 3px;
    background-color: #777;
    position: absolute;
    bottom: 15px;
    left: 30px;
}
/* end glopal rules  */
/* start header  */
header{
    position: absolute;
    z-index: 2;
    width: 100%;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container nav{
    display: flex;
    align-items: center;
}
header .container nav .toogle-menu{
    font-size: 22px;
    color: white;
}
@media(min-width: 767px){
    header .container nav .toogle-menu{
        display: none;
    }
}
header .container nav .toogle-menu:hover + ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 71px;
    width: 100%;
}
header .container .logo h1{
    font-style: italic;
    color: white;
}
header .container nav ul{
    display: flex;
}
@media(max-width: 767px){
    header .container nav ul{
        display: none;
    }
}
header .container nav ul li{
    position: relative;
    overflow: hidden;
}
header .container nav ul li:hover a{
    color: brown;
}
header .container nav ul li::after{
    content: "";
    position: absolute;
    width: 85%;
    right: 100%;
    bottom: 5px;
    height: 2px;
    background-color: brown;
    transition: var(--main-transition);
}
header .container nav ul li:hover::after{
    right: 7px;
}
header .container nav ul .active::before{
    content: "";
    position: absolute;
    width: 90%;
    left: 7px;
    bottom: 5px;
    height: 2px;
    background-color: brown;
}
header .container nav .active a{
    color: brown;
}
header .container nav li a{
    display: block;
    padding: 20px 15px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;
}
/* end header  */
/* <!-- start landing  --> */
.landing{
    position: relative;
    height: 85vh;
    background-image: url(../imgs/photo-1449034446853-66c86144b0ad.webp);
    background-size: cover;
}
.landing .container .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.landing .container .text h1{
    font-size: 70px;
    text-align: center;
    margin-bottom: 0;
}
@media(max-width: 767px){
    .landing .container .text h1{
        font-size: 30px;
    }
}
.landing .container .text span{
    color: brown;
    font-style: italic;
}
.landing .container .text p{
    font-size: 18px;
    text-align: center;
}
@media(max-width: 767px){
    .landing .container .text p{
        font-size: 14px;
        color: white;
    }
}
/* <!-- end landing  --> */
/* start services  */
.services{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.services .container .card{
    display: flex;
    align-items: center;
    gap: 20px;
}
.services .container .card i{
    font-size: 45px;
    color: brown;
}
.services .container .card .text h3{
    font-size: 23px;
}
.services .container .card .text p{
    color: #222;
    line-height: 1.3;
}
/* end services  */
/* <!-- start teams  --> */
.teams{
    position: relative;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: #eee;
}
.teams .container{
    display: flex;
    align-items: center;
}
@media(max-width:991px){
    .teams .container{
        flex-direction: column;
    }
}
.teams .container .text p{
    color: #222;
    text-align: center;
    margin-right: 25px;
    line-height: 1.6;
}
.teams .container .image{
    display: flex;
}
@media(max-width:767px){
    .teams .container .image{
        flex-direction: column;
        margin-top: 15px;
    }
}
.teams .container .image img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-right: 15px;
}
@media(max-width:767px){
    .teams .container .image img{
        margin-bottom: 15px;
    }
}
/* <!-- end teams  --> */
/* <!-- start client  --> */
.client{
    position: relative;
    background-image: url(../imgs/resume_contact_information_6.jpg);
    background-size: cover;
    height: 35vh;
}
.client::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 79%);
}
.client .container{
    position: relative;
}
.client .container .text{
    text-align: center;
    color: white;
}
.client .container .text h2{
    font-size: 60px;
    padding-top: 50px;
    margin-top:0;
}
@media(max-width:767px){
    .client .container .text h2{
        margin-bottom: 0;
        font-size: 30px;
        margin-top: 0;
    }
}
.client .container .text h2 span{
    border-bottom: 2px solid white;
}
.client .container .text p{
    line-height: 1.6;
    font-size: 19px;
}
@media(max-width:767px){
    .client .container .text p{
        font-size: 12px;
    }
}
/* <!-- end client  --> */
/* <!-- start project  --> */
.project{
    position: relative;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.project .container .option{
    margin-bottom: 60px;
}
.project .container ul{
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
@media(max-width:767px){
    .project .container ul{
        flex-direction: column;
        width: 90%;
    }
}
.project .container li{
    padding: 13px 28px;
    text-transform: capitalize;
    border-radius: 14px;
    border: 2px solid #777;
    margin-right: 18px;
    transition: var(--main-transition);
}
.project .container ul .active{
    background-color: brown;
    color: white;
}
.project .container li:hover{
    background-color: brown;
    color: white;
}
.project .container .images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    overflow: hidden;
}
.project .container .images img{
    width: 368px;
    height: 368px;
    transition: var(--main-transition);
}
/* <!-- end project  --> */
/* <!-- start footer  --> */
footer{
    background-color: rgb(0 0 0 / 94%);
    padding-top: var(--padding-top);
}
footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
}
footer .container h2{
    color: brown;
}
footer .container .about p{
    color: white;
    line-height: 1.3;
}
footer .container .about .social ul{
    display: flex;
}
footer .container .about .social li{
    margin-right: 15px;
}
footer .container .about .social li i{
    padding: 10px 15px;
    border: 2px solid brown;
    color: white;
    transition: var(--main-transition);
}
footer .container .about .social .fa-facebook-f:hover{
    background-color: #039BE5;
}
footer .container .about .social .fa-google:hover{
    background-color: #FF3D00;
}
footer .container .about .social .fa-twitter:hover{
    background-color: #03A9F4;
}
footer .container .tag p{
    color: white;
    border: 2px solid brown;
    width: fit-content;
    padding: 10px 15px;
    display: inline-block;
}
footer .container .recent .card{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 58px;
}
footer .container .recent .card img{
    width: 50px;
    height: 50px;
}
footer .container .recent .card .text h3{
    margin-bottom: 0;
    color: white;
    font-weight: normal;
}
footer .container .recent .card .text p{
    margin-top: 8px;
    color: brown;
}
footer .container .blog ul li{
    margin-bottom: 15px;
    position: relative;
}
footer .container .blog ul li::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -10px;
    background-color: brown;
}
footer .container .blog ul a{
    display: block;
    width: 100%;
    font-size: 18px;
    color: #dfe3c8;
}
footer .copy-right{
    padding: 20px;
    text-align: center;
    color: #575757;
    font-size: 18px;
    margin-bottom: 0;
}
/* <!-- end footer  --> */